/* SCSS example fun! */

// SCSS is super helpful and cool!

// You can use variables like this:
$orange: #FF9F00;

// or this:
$height: 50px;

// and call them later like this:

.orange-tall-thing {
    color: $orange;
    height: $height;
}

// You can also use mixins, which are super helpful "functions"
// that you can use to save time writing styles.

// This is an example of a pretty standard breakpoint mixin for responsive designs

@mixin breakpoint($point) {
  @if $point == xs {
    @media (min-width:767px) { @content; }
  }
  @if $point == sm {
    @media (min-width:768px) { @content; }
  }
  @if $point == md {
    @media (min-width:992px) { @content; }
  }
  @else if $point == lg {
    @media (min-width: 1200px)  { @content; }
  }
}

// You can call mixins like this:

@include breakpoint(sm) {
    .very-small-thing {
        display: none;
    }
}

// This means that any element with the class "very-small-thing" will be hidden
// when the browser is 768px wide or larger

// You can also nest selectors in SCSS, which can provide greater visual
// hierarchy and keep you from rewriting code:

.navigation-element {
    color: grey;

    .subnavigation-element {
        color: green;
    }
}

// This will output these vanilla CSS styles:

.navigation-element {
    color: grey;
}

.navigation-element .subnavigation-element {
    color: green;
}

// You can also do math in SCSS:

.a-very-wide-thing {
  width: 300px / 960px * 100%;
}

// outputs vanilla CSS as:

.a-very-wide-thing {
  width: 31.25%;
}

// You can even use variables in your SCSS math!

.a-very-wide-thing {
    height: $height - 25px;
}

// Have fun!
